.page {
  /* max-width: 100%; */
  /* height: 100vh; */
  overflow-x: hidden;
}
.background__img {
  position: absolute;
  top: 0;
  background-image: url("./background.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70%;
  border-radius: 0px 0px 48px 48px;
  z-index: -1;
  overflow: hidden;
}

.heading {
  color: var(--White, #fff);
  text-align: center;
  display: grid;
  gap: 16px;
  margin-top: 20%;
}
.heading__title {
  font-size: 42px;
  font-weight: 600;
}
.heading__sub__title {
  font-size: 20px;
  font-weight: 400;
}

.form {
  display: grid;
  gap: 16px;
  padding-bottom: 20%;
  width: 100%;
}
